* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

/* //////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////// */
/* Primero empiezo con la version mobil */

header {
    margin: 10px;
}

main {
    margin: 10px;
}

h2 {
    border-bottom: 1px solid black;
}

ul li {
    list-style-type: none;
}

h2, ul li {
    margin-bottom: 10px;
}

.DataExperience ul li {
    color: blue;
}

ul li strong {
    color: black;
    display: block;
}

/* //////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////// */
/* Version de 600px a 1200px */

@media (min-width: 600px){

    h2 {
        border: none;
    }

    main {
        display: flex;
        gap: 50px;
    }

    main section {
        margin-bottom: 15px;
    }

    main .DataExperience ul li {
        margin-bottom: 0px;
        list-style-type: disc;
    }    

    main .DataExperience ul li strong {
        display: inline;
    }

}

/* //////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////// */
/* Version mayor a 1200px */

@media (min-width: 1200px){
    main .DataPriv ul li {
        margin-bottom: 0px;
    }

    main .DataPriv ul li strong {
        display: inline;
    }

    main .DataExperience {
        display: flex;
        gap: 100px;
    }

    main {
        gap: 100px;
        justify-content: center;
    }
}