* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 90%;
    margin: 0 auto;
}

h1, h3{
    text-align: center;
    font-family: Georgia, serif;
}

fieldset{
    display: flex;
    flex-direction: column;
    padding: 15px;
}

input{
    width: 150px;
    margin-bottom: 10px;
}

#PresentacionOp{
    color: grey;
}

select{
    width: 100px;
}

.OpcionesRadio label input{
    margin-right: -60px;
}

label input{
    margin-right: -60px;
}

label, p {
    font-weight: 600;
}

form {
    display: flex;
    flex-direction: column;
    
}

form button{
    width: 120px;
    height: 60px;
    align-self: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding: 5px;
}

legend {
    font-weight: bold;
}

input:is([type="text"], [type="email"], [type="password"]):hover {
    background-color: red;
}

input:is([type="text"], [type="email"], [type="password"]):focus{
    background-color: yellow;
}



























